@media (min-width: 500px) and (max-width: 682px) {
    .head {
        padding: 20px 19px;
        padding: 20px 19px;
        gap: 20px;
        justify-content: space-between;
    }

    .contact_img {
        width: 80%;
    }
}